form(method="POST",action="../"+ product._id)
    input(type="hidden" name="_method" value="PUT")
    p title
        input(type="text" name="title", value=product.title)
    p description 
        input(type="text", name="description", value=product.description)
    p price
        input(type="number" name="price", value=product.price)
    p 
        input(type="submit" value="Confirm")